.btn_animation:hover {
  transform: scale(1.03);
  background: linear-gradient(#f8cc2f, #f1764d);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

@keyframes fadeTop {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, p, a, button {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 16px;
}

h2 {
  font-size: 29px;
}

h1,
h2,
h3 {
  font-family: "Source Serif Pro", serif;
}

#burger {
  width: 30px;
  height: 2px;
  background: rgb(255, 255, 255);
  display: inline-block;
  position: absolute;
  right: 30px;
  top: 20px;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  #burger {
    display: none;
  }
}

#burger::before,
#burger::after {
  content: "";
  width: 30px;
  height: 2px;
  background: rgb(255, 255, 255);
  display: inline-block;
  position: absolute;
  transform-origin: center;
  transition: all 0.3s ease;
}

#burger::before {
  top: -7px;
}

#burger::after {
  top: 7px;
}

#burger.open {
  background: transparent;
}

#burger.open::before {
  transform: rotate(45deg);
  top: 0;
}

#burger.open::after {
  transform: rotate(-45deg);
  top: 0;
}

.contact-button {
  position: fixed;
  z-index: 3;
  background: none;
  border: none;
  bottom: 0;
  transform: translateY(-50%);
  cursor: pointer;
  right: 1rem;
}
.contact-button i {
  color: white;
  width: 40px;
  font-size: 1rem;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  justify-content: center;
  box-shadow: 0 0 6px 1px rgba(10, 10, 10, 0.431372549);
  background: linear-gradient(#f9c818, #ec7047);
  margin-right: 20px;
}

.social_media {
  display: flex;
}
.social_media-fcb {
  background-color: white;
  border-radius: 50%;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin: 10px;
}
.social_media-fcb:hover {
  transform: scale(1.03);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.social_media-fcb a {
  background-color: blue;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social_media-insta {
  background-color: white;
  border-radius: 10%;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin: 10px;
}
.social_media-insta:hover {
  transform: scale(1.03);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.social_media-insta a {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  border-radius: 10%;
  width: 25px;
  height: 25px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-container {
  overflow: hidden;
  height: 500px;
  margin: auto;
  border-radius: 0.5rem;
}

.content {
  height: 100%;
  margin: 20px;
}

.img-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  border-radius: 0.5rem;
}

.track {
  display: flex;
  height: 100%;
}

.cell {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.carousel {
  width: 100%;
  height: 100%;
  position: relative;
}
@media screen and (min-width: 992px) {
  .carousel {
    height: auto;
  }
}

.animation2 {
  animation: fadeLeft 3.5s;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media screen and (min-width: 992px) {
  .carousel > ul {
    display: flex;
    justify-content: space-between;
    margin: 30px;
  }
}
.carousel > ul li {
  padding: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
@media screen and (min-width: 992px) {
  .carousel > ul li {
    position: unset;
    opacity: 1;
    width: 30%;
    padding: 0;
  }
}

.slide {
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide > img {
  width: 100%;
  height: 50%;
  object-fit: contain;
}

.slide[data-active] {
  opacity: 1;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  display: flex;
}

.carousel-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  font-size: 1rem;
  background: none;
  border: none;
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  background-color: rgba(25, 24, 24, 0.8784313725);
}
@media screen and (min-width: 992px) {
  .carousel-button {
    display: none;
  }
}

.carousel-button:hover,
.carousel-button:focus {
  color: #ec7047;
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
  background-color: rgba(25, 24, 24, 0.8784313725);
}

header {
  display: flex;
}
header .header_container {
  position: fixed;
  z-index: 200000;
  background-color: rgba(25, 24, 24, 0.8784313725);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
header img {
  width: 70%;
  height: 100%;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  header img {
    width: 20%;
  }
}
header h1 {
  margin: 10px;
  color: white;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  header nav {
    width: 100%;
  }
}
header ul {
  position: absolute;
  align-items: center;
  left: 0;
  display: flex;
  flex-direction: column;
  top: 0;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: rgb(36, 35, 35);
  transform: translate(-100%);
  transition: all 0.8s ease;
  padding: 10px 0;
}
@media screen and (min-width: 768px) {
  header ul {
    flex-direction: row;
    top: auto;
    left: auto;
    width: 100%;
    position: inherit;
    height: auto;
    background: none;
    transform: inherit;
    padding: 0;
  }
}
header ul.open {
  transform: scaleY(1);
}
header ul li {
  padding: 20px 0;
  margin: 9px;
  text-align: center;
  background: linear-gradient(#f9c818, #ec7047);
  border-radius: 5px;
  color: white;
  width: 50%;
}
@media screen and (min-width: 768px) {
  header ul li {
    padding: 5px;
  }
}
header ul li a {
  color: white;
  display: block;
}

.main_a-propos {
  background: rgba(25, 24, 24, 0.8784313725);
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}
.main_a-propos p {
  margin: 10%;
}
.main .animation {
  animation: fadeTop 3.5s;
}
.main_services {
  background-color: white;
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
}
.main_services h2 {
  margin: 40px 0px;
}
.main_services-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
@media screen and (min-width: 768px) {
  .main_services-description {
    margin: 0;
    width: 100%;
  }
}
.main_services img {
  width: 100%;
  object-fit: cover;
  height: 220px;
}
.main_services h3 {
  margin: 50px 0px 0px;
}
.main_services p {
  margin: 60px;
}
.main_realisation {
  background: white;
}
.main_realisation h2 {
  text-align: center;
  margin: 0px 0px 40px 0px;
  padding-top: 40px;
}
.main_my-work {
  background: #e5e5e5;
}
.main_my-work h2 {
  width: 100%;
  background-color: #e5e5e5;
  padding: 1em;
  text-align: center;
  color: white;
}
.main_background {
  object-fit: cover;
  height: 100%;
  position: fixed;
  z-index: -100;
  width: 100%;
  top: 0;
  filter: blur(1px) opacity(0.5);
}

footer {
  background-color: rgba(25, 24, 24, 0.8784313725);
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer svg {
  position: absolute;
}
footer .contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
footer .contact_details {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  footer .contact_details {
    flex-direction: row;
    margin: 50px 0px 0px;
  }
}
footer .contact_detail {
  margin: 20px;
  color: white;
  display: flex;
  align-items: center;
}
footer .contact_detail i {
  margin-right: 20px;
}
footer .contact_icon {
  color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  margin-right: 10px;
  justify-content: center;
  box-shadow: #1f1f1f 0px 0px 9px 2px;
  background: linear-gradient(#f9c818, #ec7047);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
footer .contact h2 {
  margin-top: 120px;
  color: white;
}
@media screen and (min-width: 768px) {
  footer .contact h2 {
    margin-top: 300px;
  }
}
@media screen and (min-width: 1440px) {
  footer .contact h2 {
    margin-top: 400px;
  }
}
footer .contact_contenair {
  width: 100%;
}
footer address {
  display: flex;
  flex-direction: column;
  margin: 50px;
}
footer p {
  color: white;
}

.contact-button.show {
  display: flex;
}

.contact-button {
  display: none;
}

.copyright {
  width: 100%;
  padding: 20px;
  text-align: center;
  margin-top: 10px;
  font-size: small;
  font-family: auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form label {
  width: 90%;
}
@media screen and (min-width: 768px) {
  .form label {
    width: 50%;
  }
}
.form_header {
  margin: 50% 20px 20px 20px;
}
@media screen and (min-width: 768px) {
  .form_header {
    margin: 30% 20px 20px 20px;
  }
}
@media screen and (min-width: 992px) {
  .form_header {
    margin: 20% 20px 20px 20px;
  }
}
.form_header strong {
  color: #ff7400;
}
.form input {
  width: 90%;
  padding: 10px;
  margin: 10px 20px;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border: solid 1px #ccc;
}
@media screen and (min-width: 768px) {
  .form input {
    width: 50%;
  }
}
.form input:focus {
  border: solid 2px #f9c818;
}
.form textarea {
  width: 90%;
  padding: 20px;
  margin: 5px 0px 10px 0px;
  outline: none;
  border: solid 1px #ccc;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
@media screen and (min-width: 768px) {
  .form textarea {
    width: 50%;
  }
}
.form textarea:focus {
  border: solid 2px #f9c818;
}
.form h2 {
  margin: 20px 0px 10px 0px;
  font-size: 20px;
}
.form_send-btn {
  width: 50%;
  padding: 10px;
  margin: 5px 0px 0px 0px;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  color: white;
  background: linear-gradient(#f9c818, #ec7047);
}
@media screen and (min-width: 768px) {
  .form_send-btn {
    width: 30%;
  }
}

.svg {
  margin-bottom: -3px;
}

/*# sourceMappingURL=style.css.map */
