.main {
  &_a-propos {
    background: rgba(25, 24, 24, 0.8784313725);
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    p {
      margin: 10%;
    }
  }
  .animation {
    animation: fadeTop 3.5s;
  }

  &_services {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
    h2 {
      margin: 40px 0px;
    }
    &-description {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      margin: 20px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
      @media screen and (min-width: 768px) {
        margin: 0;
        width: 100%;
      }
    }
    img {
      width: 100%;
      object-fit: cover;
      height: 220px;
    }
    h3 {
      margin: 50px 0px 0px;
    }
    p {
      margin: 60px;
    }
  }

  &_realisation {
      background: white;
      height: 500px;
      width: 90rem;
      max-width: 100%;
      margin: auto;
      padding: 2rem;
  }

  &_my-work {
    background: #e5e5e5;
    h2 {
      width: 100%;
      background-color: #e5e5e5;
      padding: 1em;
      text-align: center;
      color: white;
    }
  }
  &_background {
    object-fit: cover;
    height: 100%;
    position: fixed;
    z-index: -100;
    width: 100%;
    top: 0;
    filter: blur(1px) opacity(0.5);
  }
}
