#burger {
  width:30px;
  height:2px;
  background:rgb(255, 255, 255);
  display:inline-block;
  position: absolute;
  right: 30px;
  top: 20px;
  z-index: 1;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
#burger::before,
#burger::after {
  content:'';
  width:30px;
  height:2px;
  background:rgb(255, 255, 255);
  display:inline-block;
  position:absolute;
  transform-origin: center;
  transition: all 0.3s ease;
}
#burger::before {
  top:-7px;
}
#burger::after {
  top:7px;
}

#burger.open {
  background:transparent;
}
#burger.open::before {
  transform: rotate(45deg);
  top:0;
}
#burger.open::after {
  transform: rotate(-45deg);
  top:0;
}