.carousel {
  width: 100%;
  height: 100%;
  position: relative;
  @media screen and (min-width: 992px) {
    height: auto;
  }
}

.animation2 {
  animation: fadeLeft 3.5s;
}
.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  @media screen and (min-width: 992px) {
    display: flex;
    justify-content: space-between;
    margin: 30px;
  }
  li {
    padding: 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    @media screen and (min-width: 992px) {
      position: unset;
      opacity: 1;
      width: 30%;
      padding: 0;
    }
  }
}

.slide {
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide > img {
  width: 100%;
  height: 50%;
  object-fit: contain;
}

.slide[data-active] {
  opacity: 1;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  display: flex;
}

.carousel-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  font-size: 1rem;
  background: none;
  border: none;
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  background-color: rgba(25, 24, 24, 0.8784313725);
  @media screen and (min-width: 992px) {
    display: none;
  }
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
  background-color: rgba(25, 24, 24, 0.8784313725);
}